$primary-color: #996464;
$primary1-color: #cf8d8d;
$secundary-color: #ceb28b;
$secundary1-color: #e7d6bf;
$black: #000000;
$white: #ffffff;
$heafoo-color: #510a02;

$main-font: 'Segoe UI', sans-serif;
 

$gap: 1rem;